body {
    background-image: url("https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-family: Lora;
}

.text-shadow {
    text-shadow: 0px 0px 5px black;
}

.quote-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-quote-btn {
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.author {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .quote-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .author {
    margin-bottom: 1rem;
  }
}
  

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}